Repository gptme/gptme-agent-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-task-frontmatter, validate-tasks

check-markdown-links:
  name: Check markdown links
  description: Verifies all relative links in markdown files resolve correctly
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-task-frontmatter:
  name: Validate task frontmatter
  description: Validates YAML frontmatter in task files
  entry: ./scripts/precommit/validate_task_frontmatter.py
  language: system

validate-tasks:
  name: Validate task metadata
  description: Validates YAML frontmatter in task files
  entry: ./scripts/tasks.py check
  language: system
  pass_filenames: false

refactor: move bin/git-safe-commit into scripts/, drop bin/ from root allowlist
  .github/root-structure-allowlist.yaml
  AGENTS.md
  scripts/fork.sh
  scripts/git-safe-commit
  scripts/runs/autonomous/autonomous-run-cc.sh
  scripts/runs/autonomous/autonomous-run.sh
Due: check-markdown-links, validate-tasks

refactor: move bin/git-safe-commit into scripts/, drop bin/ from root allowlist (#99)
  .github/root-structure-allowlist.yaml
  AGENTS.md
  scripts/fork.sh
  scripts/git-safe-commit
  scripts/runs/autonomous/autonomous-run-cc.sh
  scripts/runs/autonomous/autonomous-run.sh
Due: check-markdown-links, validate-tasks

fix(readme): put template tags on their own lines to fix GFM formatting
  README.md
Due: check-markdown-links, validate-tasks

fix(readme): put template tags on their own lines to fix GFM formatting (#101)
  README.md
Due: check-markdown-links, validate-tasks

feat(install-deps): report capability tiers via the shared-core probe
  scripts/install-deps.sh
Due: none

chore: drop CLAUDE.md symlink, rely on native AGENTS.md support
  .github/root-structure-allowlist.yaml
  AGENTS.md
  CLAUDE.md
  README.md
  scripts/fork.sh
Due: check-markdown-links, validate-tasks

feat(install-deps): report capability tiers via the shared-core probe (#103)
  scripts/install-deps.sh
Due: none

fix(post-session): address four Greptile P1 findings
  .claude/hooks/post-session.py
  .claude/settings.json
  scripts/runs/autonomous/autonomous-run-cc.sh
Due: none

feat(sessions): session records on by default for forked agents
  .claude/hooks/match-lessons.py
  .claude/hooks/post-session.py
  .claude/settings.json
  .github/root-structure-allowlist.yaml
  scripts/fork.sh
  scripts/install-deps.sh
  scripts/runs/autonomous/autonomous-run-cc.sh
Due: none

feat(autonomous): add opt-in session gate
  scripts/runs/autonomous/README.md
  scripts/runs/autonomous/autonomous-run-cc.sh
  scripts/runs/autonomous/autonomous-run.sh
  scripts/runs/autonomous/session-gate.py
  tests/test_session_gate.py
Due: check-markdown-links, validate-tasks

fix(autonomous): source session gate from contrib
  scripts/runs/autonomous/session-gate.py
Due: none

test(session-gate): cover blocked_until semantics + document in README
  scripts/runs/autonomous/README.md
  tests/test_session_gate.py
Due: check-markdown-links, validate-tasks

fix(autonomous): support python 3.10 in session gate
  scripts/runs/autonomous/session-gate.py
  tests/test_session_gate.py
Due: none

refactor(autonomous): source runners from contrib
  scripts/runs/autonomous/autonomous-run-cc.sh
  scripts/runs/autonomous/autonomous-run.sh
Due: none

feat(sessions): session records on by default for forked agents (#102)
  .claude/hooks/match-lessons.py
  .claude/hooks/post-session.py
  .claude/settings.json
  .github/root-structure-allowlist.yaml
  scripts/fork.sh
  scripts/install-deps.sh
  scripts/runs/autonomous/autonomous-run-cc.sh
Due: none

feat(autonomous): wire contrib quota + session gates into CC runner (#97)
  .github/workflows/test.yml
  scripts/runs/autonomous/README.md
  scripts/runs/autonomous/autonomous-run-cc.sh
  tests/test_cc_gates.py
Due: check-markdown-links, validate-tasks

feat(autonomous): wire contrib session gate into gptme runner
  .github/workflows/test.yml
  scripts/runs/autonomous/README.md
  scripts/runs/autonomous/autonomous-run.sh
  tests/test_gptme_gates.py
Due: check-markdown-links, validate-tasks

fix(autonomous): skip session gate on TTY so manual runs start gptme
  TOOLS.md
  scripts/runs/autonomous/README.md
  scripts/runs/autonomous/autonomous-run.sh
  tests/test_gptme_gates.py
Due: check-markdown-links, validate-tasks

feat(autonomous): wire contrib session gate into gptme runner (#104)
  .github/workflows/test.yml
  TOOLS.md
  scripts/runs/autonomous/README.md
  scripts/runs/autonomous/autonomous-run.sh
  tests/test_gptme_gates.py
Due: check-markdown-links, validate-tasks

docs: add operating-an-agent guide (#84)
  .github/root-structure-allowlist.yaml
  README.md
  docs/operating-an-agent.md
Due: check-markdown-links, validate-tasks

docs: address Greptile review on operating-an-agent guide
  docs/operating-an-agent.md
  scripts/fork.sh
Due: check-markdown-links, validate-tasks

docs: qualify launcher guidance for reduced forks; correct gptme billing options
  docs/operating-an-agent.md
Due: check-markdown-links, validate-tasks

docs: refresh operating guide facts (memory sizing, gptme.ai access, verified date)
  docs/operating-an-agent.md
Due: check-markdown-links, validate-tasks

docs: explain gptodo and gptmail integration and bring-your-own option
  AGENTS.md
  ARCHITECTURE.md
  README.md
  TASKS.md
  TOOLS.md
  scripts/README.md
  state/README.md
Due: check-markdown-links, validate-tasks

docs: explain gptodo and gptmail integration and bring-your-own option (#106)
  AGENTS.md
  ARCHITECTURE.md
  README.md
  TASKS.md
  TOOLS.md
  scripts/README.md
  state/README.md
Due: check-markdown-links, validate-tasks

docs: add operating-an-agent guide (#105)
  .github/root-structure-allowlist.yaml
  README.md
  docs/operating-an-agent.md
  scripts/fork.sh
Due: check-markdown-links, validate-tasks

docs: add first-task walkthrough
  README.md
  docs/first-task-walkthrough.md
  docs/operating-an-agent.md
  knowledge/forking-workspace.md
  tasks/templates/initial-agent-setup.md
Due: check-markdown-links, validate-task-frontmatter, validate-tasks

feat(memory): ship version-controlled memory bridge in the template
  .github/root-structure-allowlist.yaml
  .gitignore
  AGENTS.md
  memory/MEMORY.md
  scripts/fork.sh
  scripts/install-deps.sh
  scripts/setup-memory.sh
Due: check-markdown-links, validate-tasks

fix(ci): allowlist setup-memory.sh in forked-agent symlink check
  scripts/check-symlinks.py
Due: none

feat(memory): ship version-controlled memory bridge in the template (#108)
  .github/root-structure-allowlist.yaml
  .gitignore
  AGENTS.md
  memory/MEMORY.md
  scripts/check-symlinks.py
  scripts/fork.sh
  scripts/install-deps.sh
  scripts/setup-memory.sh
Due: check-markdown-links, validate-tasks

feat(memory): add opt-in periodic commit sweep for durability
  AGENTS.md
  dotfiles/.config/systemd/user/agent-commit-memory.service.example
  dotfiles/.config/systemd/user/agent-commit-memory.timer.example
  scripts/commit-memory.sh
Due: check-markdown-links, validate-tasks

fix(memory): allowlist commit-memory.sh as agent-specific script
  scripts/check-symlinks.py
Due: none

ci: per-ref concurrency groups (finish running master builds, collapse queued ones)
  .github/workflows/container-test.yml
  .github/workflows/test.yml
  .github/workflows/validate-workspace.yml
Due: none

ci: per-ref concurrency groups (finish running master builds, collapse queued ones) (#110)
  .github/workflows/container-test.yml
  .github/workflows/test.yml
  .github/workflows/validate-workspace.yml
Due: none

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$, but not: ^projects/.*/examples/.*$
  validate-task-frontmatter: any of: ^tasks/.*\.md$ and \.(md|markdown|mdown)$
  validate-tasks: any of: \.(md|markdown|mdown)$
