Repository gptme/gptme-agent-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-markdown-links, validate-task-frontmatter, validate-tasks

check-markdown-links:
  name: Check markdown links
  description: Verifies all relative links in markdown files resolve correctly
  entry: python3 scripts/precommit/check_markdown_links.py
  language: system
  pass_filenames: true

validate-task-frontmatter:
  name: Validate task frontmatter
  description: Validates YAML frontmatter in task files
  entry: ./scripts/precommit/validate_task_frontmatter.py
  language: system

validate-tasks:
  name: Validate task metadata
  description: Validates YAML frontmatter in task files
  entry: ./scripts/tasks.py check
  language: system
  pass_filenames: false

fix: improve fork script and added wip python wrapper
  Makefile
  fork.sh
  scripts/fork.py
Due: none

fix: date not working on macos
  fork.sh
Due: none

fix: date not working on macos (#17)
  fork.sh
Due: none

fix: support unexpanded tildes in target path arg
  fork.sh
Due: none

fix: simplify fork.sh and link to agents docs
  README.md
  fork.sh
  gptme.toml
  people/creator.md
  tasks/templates/initial-agent-setup.md
Due: check-markdown-links, validate-task-frontmatter, validate-tasks

fix: added [agent] section with name to gptme.toml
  gptme.toml
Due: none

Fix https://github.com/gptme/gptme-agent-template/issues/19
  fork.sh
Due: none

Fix https://github.com/gptme/gptme-agent-template/issues/21
  fork.sh
Due: none

fix: fix glob pattern in fork.sh copy_file call (#20)
  fork.sh
Due: none

fix: fixes to fork.sh (support glob in copy_files)
  fork.sh
Due: none

fix: add check for uv to fork.sh
  fork.sh
Due: none

fix: fixed typo
  tasks/templates/initial-agent-setup.md
Due: check-markdown-links, validate-task-frontmatter, validate-tasks

feat(scripts): improve context generation with multi-file journal support and knowledge tree depth limit
  scripts/context-journal.sh
  scripts/context-workspace.sh
Due: none

feat(scripts): improve context generation with multi-file journal support and knowledge tree depth limit (#24)
  scripts/context-journal.sh
  scripts/context-workspace.sh
Due: none

docs(readme): comprehensive enhancement of template documentation
  README.md
Due: check-markdown-links, validate-tasks

fix(task-scheduler): add type ignore for untyped imports
  jobs/README.md
  jobs/example-daily.yaml
  jobs/example-weekly.yaml
  packages/tasks_loop/README.md
  packages/tasks_loop/pyproject.toml
  packages/tasks_loop/src/tasks_loop/__init__.py
  packages/tasks_loop/src/tasks_loop/config.py
  packages/tasks_loop/src/tasks_loop/job.py
  packages/tasks_loop/src/tasks_loop/scheduler.py
  packages/tasks_loop/tests/test_scheduler.py
  systemd/user/agent-scheduler.service
Due: check-markdown-links, validate-tasks

feat(input-orchestrator): add input sources orchestrator for autonomous agents
  packages/lib/README.md
  packages/lib/pyproject.toml
  packages/lib/src/lib/__init__.py
  packages/lib/src/lib/input_sources.py
  packages/lib/src/lib/orchestrator.py
  packages/lib/src/lib/state.py
  packages/lib/tests/__init__.py
  packages/lib/tests/test_orchestrator.py
  pyproject.toml
  systemd/user/agent-input-orchestrator.service
  uv.lock
Due: check-markdown-links, validate-tasks

feat: add autonomous run infrastructure and input orchestrator
  README.md
  packages/lib/README.md
  packages/lib/pyproject.toml
  packages/lib/src/lib/__init__.py
  packages/lib/src/lib/input_sources.py
  packages/lib/src/lib/orchestrator.py
  packages/lib/src/lib/state.py
  packages/lib/tests/__init__.py
  packages/lib/tests/test_orchestrator.py
  pyproject.toml
  scripts/runs/autonomous/README.md
  scripts/runs/autonomous/autonomous-run.sh
  systemd/user/agent-autonomous.service
  systemd/user/agent-autonomous.timer
  systemd/user/agent-input-orchestrator.service
  uv.lock
Due: check-markdown-links, validate-tasks

fix(autonomous): address critical bugs from Greptile review
  packages/lib/src/lib/orchestrator.py
  scripts/runs/autonomous/autonomous-run.sh
  systemd/user/agent-autonomous.service
Due: none

feat: Add autonomous run infrastructure with CASCADE workflow (Phase 3.1 - PR 1.1) (#27)
  README.md
  packages/lib/README.md
  packages/lib/src/lib/orchestrator.py
  scripts/runs/autonomous/README.md
  scripts/runs/autonomous/autonomous-run.sh
  systemd/user/agent-autonomous.service
  systemd/user/agent-autonomous.timer
Due: check-markdown-links, validate-tasks

feat: Add lessons system structure with two-file architecture
  lessons/README.md
  lessons/TEMPLATE.md
  lessons/patterns/.gitkeep
  lessons/social/.gitkeep
  lessons/strategic/.gitkeep
  lessons/workflow/.gitkeep
Due: check-markdown-links, validate-tasks

feat: Add work queue and context generation systems (Phase 3.1 - PR 1.3)
  ARCHITECTURE.md
  README.md
  scripts/README.md
  scripts/tasks.py
  state/README.md
  state/queue-generated.md
  state/queue-manual.md
Due: check-markdown-links, validate-tasks

Revert "feat: Add work queue and context generation systems (Phase 3.1 - PR 1.3)"
  ARCHITECTURE.md
  README.md
  scripts/README.md
  scripts/tasks.py
  state/README.md
  state/queue-generated.md
  state/queue-manual.md
Due: check-markdown-links, validate-tasks

feat: Add lessons system structure with two-file architecture (#28)
  lessons/README.md
  lessons/TEMPLATE.md
  lessons/patterns/.gitkeep
  lessons/social/.gitkeep
  lessons/strategic/.gitkeep
  lessons/workflow/.gitkeep
Due: check-markdown-links, validate-tasks

fix: Make tasks.py optional as intended (addresses greptile feedback)
  .pre-commit-config.yaml
  fork.sh
  scripts/context.sh
Due: none

fix(fork): fix CI markdown link check failures
  fork.sh
  lessons/README.md
  lessons/TEMPLATE.md
Due: check-markdown-links, validate-tasks

fix(review): address PR review feedback on optional tasks.py handling
  .pre-commit-config.yaml
  README.md
  scripts/context.sh
Due: check-markdown-links, validate-tasks

feat: Add work queue and context generation systems (Phase 3.1 - PR 1.3) (#29)
  .pre-commit-config.yaml
  ARCHITECTURE.md
  README.md
  fork.sh
  scripts/README.md
  scripts/context.sh
  scripts/tasks.py
  state/README.md
  state/queue-generated.md
  state/queue-manual.md
Due: check-markdown-links, validate-tasks

feat: add dotfiles with global git hooks infrastructure
  dotfiles/.config/git/hooks/post-checkout
  dotfiles/.config/git/hooks/pre-commit
  dotfiles/.config/git/hooks/pre-push
  dotfiles/.config/git/hooks/validate-branch-base.sh
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
  dotfiles/README.md
  dotfiles/install.sh
Due: check-markdown-links, validate-tasks

fix: remove instance-specific reference from README
  dotfiles/README.md
Due: check-markdown-links, validate-tasks

fix: improve branch detection and add safety checks
  dotfiles/.config/git/hooks/pre-commit
  dotfiles/install.sh
Due: none

fix: improve check-names to work from worktrees
  Makefile
Due: none

fix: address review feedback - allowlist approach and reliable detection
  dotfiles/.config/git/hooks/pre-commit
  dotfiles/install.sh
Due: none

refactor(dotfiles): replace files with symlinks to gptme-contrib
  dotfiles/.config/git/hooks/post-checkout
  dotfiles/.config/git/hooks/pre-commit
  dotfiles/.config/git/hooks/pre-push
  dotfiles/.config/git/hooks/validate-branch-base.sh
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
  dotfiles/README.md
  dotfiles/install.sh
Due: check-markdown-links, validate-tasks

feat(fork): add --with-dotfiles option for modular systems
  fork.sh
Due: none

feat: add dotfiles with global git hooks infrastructure (#32)
  Makefile
  dotfiles/.config/git/hooks/post-checkout
  dotfiles/.config/git/hooks/pre-commit
  dotfiles/.config/git/hooks/pre-push
  dotfiles/.config/git/hooks/validate-branch-base.sh
  dotfiles/.config/git/hooks/validate-worktree-tracking.sh
  dotfiles/README.md
  dotfiles/install.sh
  fork.sh
Due: check-markdown-links, validate-tasks

feat(journal): add subdirectory format support and migration script
  packages/lib/README.md
  packages/lib/src/lib/__init__.py
  packages/lib/src/lib/journal.py
  scripts/README.md
  scripts/migrate-journals.py
Due: check-markdown-links, validate-tasks

feat(journal): add subdirectory format support and migration script (#33)
  packages/lib/README.md
  packages/lib/src/lib/__init__.py
  packages/lib/src/lib/journal.py
  scripts/README.md
  scripts/migrate-journals.py
Due: check-markdown-links, validate-tasks

Path conditions:
  check-markdown-links: any of: \.(md|markdown|mdown)$, but not: ^projects/.*/examples/.*$
  validate-task-frontmatter: any of: ^tasks/.*\.md$ and \.(md|markdown|mdown)$
  validate-tasks: any of: \.(md|markdown|mdown)$
